@model List<BlogPost>
@{
    ViewData["Title"] = "SearchBlog";
}


<div class=" chest">

    <h1 class="display-3 m-5">@ViewBag.UserName Topics</h1>
    <div class="container">
        <a class="nav-link active text-light" aria-current="page" href="/Token/Index">Girdim mi</a>
        @if (Model != null)
        
            @foreach (var item in Model)
            {

                <div class="m-5">
                    <div class="row">
                    @if (item.BlogPostImages != null && item.BlogPostImages.Count > 0)
                    {
                        <img class="col-4 thumb" src="@item.BlogPostImages[0].Image" alt="Blog Post Image">
                    }
                    <div class="col-8">

                        <h2 class="display-4 col-8">@item.Name</h2>

                            @if (!string.IsNullOrEmpty(item.Description))
                            {

                                if (item.Description.Length > 200)
                                {
                                    <p>@item.Description.Substring(0, Math.Min(200, item.Description.Length))<span>...</span></p>

                                }
                                else
                                {
                                    @item.Description
                                }
                            }
                            <p class="mt-2 opacity-75">Publication Date: @item.CreateDate</p>
                            <p class="mt-2 opacity-75">Creator: @item.AppUser.UserName</p>
                            <a href="/Home/BlogDetails/@item.Id">Read More</a>
                    </div>
                    
                
                </div>
                </div>

                <hr class="my-4">

            }

    </div>
</div>


